<%= link_to "Add new restaurant", new_restaurant_path %>
<h1>The Restaurants Guide</h1>
<br>
<% @restaurants.each do |restaurant| %>
  <h2> <%= link_to restaurant.name, restaurant_path(restaurant) %> </h2>
<% end %>
